body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: auto;
    width: 1000px;
    background-color:rgba(127, 255, 212, 0.253);
}

.box_da_imagen_da_receita {
    height: 250px;
    max-width: 100%;
}

.imagen_da_receita {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.titulo_da_receita {
    font-size: 89px;
    font-weight: 900;
    text-align: left;
    color: orangered;
    opacity: 1;
}

.autor {
    font-size: 21px;
    font-weight: bold;
    text-align: right;
}

.descricao_do_titulo {
    font-size: 21px;
    font-weight: 600;
    text-align: left;
}

hr {
    max-width: 100%;
    border: 5px solid #999999;
    opacity: 1;
}

h2 {
    color: orangered;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #000000;
}

.video {
    width: 100%;
    height: 497px;
    opacity: 1;
    border-radius: 15px;
}

.modo-de-preparo,
.outras-receitas {
}